<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->

	<title>홍익대학교 시각디자인학과 2016 졸업전시회</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="bootstrap/bootstrap.min.css">
	<script src="bootstrap/jquery.js"></script>
	<script src="bootstrap/bootstrap.min.js"></script>
	<script src="function.js"></script>
</head>
<body>
<div class="container">
	

	<div class="header row">	


		<div id="filters">
			<div class="filterblock">

				<input type="checkbox" value="edit" class="category"><label>Graphic</label>
				<input type="checkbox" value="edit" class="category"><label>Illur</label>
				<input type="checkbox" value="edit" class="category"><label>UX/UI</label>
				<input type="checkbox" value="edit" class="category"><label>Editorior</label>
				<input type="checkbox" value="edit" class="category"><label>Video</label>
				<input type="checkbox" value="edit" class="category"><label>Package</label>

			</div>
		</div>


	</div><!--header, row-->

</div><!--container-->


<div class="container">
	<div class="row">
		{{content}}
	</div>
</div>

</body>
</html>